<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="false">
  <testsuites>
    <testsuite name="WebDav Test Suite">
      <directory>tests/Grale/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">src/Grale/</directory>
    </whitelist>
  </filter>
</phpunit>
